.button1 {
    border: none;
    background-color: indigo;
    color: white;
    padding: 10px;
    display: inline-block;
    border-radius: 6px;
}

.button2 {
    border: none;
    color: indigo;
    padding: 10px;
    display: inline-block;
    border-radius: 6px;
}

.Signbody{
    height: 172px;
    width: 207px;
    padding: 10px;
    background-color: mediumpurple;
    border: solid 1px;
    text-align: center;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25vh;
    display: block;
}

.SignUpBody {
    height: 260px;
    width: 207px;
    padding: 10px;
    border: solid 1px;
    border-radius: 6px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25vh;
    display: block;
    color: #83ccf0;
    background-color: #2f4f7b;
}

body {
    background-color: #071952;
}

.AllButton{
    height: 100px;
    width: 265px;
    text-align: center;
    display: block;
    margin-left: 83%;
    margin-top: 5px;
}

.GSButton {
    border: solid 1px;
    border-radius: 6px;
    color: darkgrey;
    padding: 10px;
    background-color: #071952;
}

.Waluigi{
    margin-top : 60px;
    margin-left : auto;
    margin-right : auto;

}

