.button1, input[classe=button1] {
    border: none;
    background-color: indigo;
    color: white;
    padding: 10px;
    display: inline-block;
    border-radius: 6px;
}

.button2, input[classe=button2]{
    border: none;
    color: indigo;
    padding: 10px;
    display: inline;
    border-radius: 6px;
}

.counter-display{
    color:yellow;
    display: inline-block;

}

.Signbody{
    height: 172px;
    width: 207px;
    padding: 10px;
    background-color: mediumpurple;
    border: solid 1px;
    text-align: center;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25vh;
    display: block;
}

.SignUpBody {
    height: 260px;
    width: 207px;
    padding: 10px;
    border: solid 1px;
    border-radius: 6px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25vh;
    display: block;
    color: #83ccf0;
    background-color: #2f4f7b;
}

body {
    background-color: #071952;
}

.AllButton {
    height: 100px;
    width: 265px;
    text-align: center;
    display: inline;
    margin-left: 73%;
    margin-top: 5px;
}

.GSButton {
    border: solid 1px;
    border-radius: 6px;
    color: darkgrey;
    padding: 10px;
    background-color: #071952;
}

.Waluigi{
    transform: translate(50vw,50vh);
    background : transparent;
    border : none;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    from {
        transform: translate(calc(50vw - 160px),calc(50vh - 320px)) rotate(0deg)
    }
    to {
        transform: translate(calc(50vw - 160px),calc(50vh - 320px)) rotate(360deg)
    }
}


.point{
    width: 150px;
    display: inline-block;
}

.Upgrade, .BgUpgrade {
    border: solid 1px;
    border-radius: 6px;
    background-color: powderblue;
    display: inline-block;
    width: 207px;
    height: 251px;
    text-align: center;
    margin-left: 15px;
}
.titre{
    text-size-adjust: 50%;
}
.Store{
    width: 70%;
    height: 60%;
    margin-left: 13%;
    align-content: center;
}