#button1 {
    border: none;
    background-color: indigo;
    color: white;
    padding: 10px;
    display: inline-block;
    border-radius: 6px;
}
#button2 {
    border: none;
    color: indigo;
    padding: 10px;
    display: inline-block;
    border-radius: 6px;
}
.Signbody{
    height: 25vh;
    width: 15vw;
    padding: 10px;
    background-color: mediumpurple;
    border: solid 1px;
    text-align: center;
    border-radius: 6px
}